.create-product {
    margin: 20px;
    text-align: center;
}

.create-product form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.create-product input, .create-product textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
